/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');


.form {
  margin-top: 36px;
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 8px;
}

.search {
  width: 90px;
  height: 40px;
  display: flex;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
      background: #4E75FF;
      color: #FFF;
        font-family: Montserrat;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
        /* 150% */
        letter-spacing: 0.03em;
}

.search:hover {
  background: #6C8CFF;
}

.form input[type="text"] {
  
  width: 100%;
  height: 100%;
  padding: 8px 16px;
  color: #808080;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  /* 150% */
  letter-spacing: 0.03em;

  border-radius: 4px;
  background: #FFF;
  border: 1px solid #808080;
}

   
             .form input[type="text"]:hover {
               border-color: #000;;
             }

                         .form input[type="text"]:focus {
                          color: #2E2F42;
                           border-color: #4E75FF;
                           
                         }

  .form label {
    width: 272px; 
  height: 40px; 
  }     
  
  .gallery {
    margin-top: 32px;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
  }

  .gallery-item {
    width: 360px;
    height: 200px;

  }

  
.gallery-image {
  width: 360px;
    height: 152px;
    object-fit: cover;
}

.info {
  display: flex;
  justify-content: space-around;
}

.info p{
color: #2E2F42;
font-family: Montserrat;
font-size: 12px;
font-style: normal;
font-weight: 600;
line-height: 16px; /* 133.333% */
letter-spacing: 0.48px;
text-align: center;
}

.info b {
  font-weight: 400;
  line-height: 24px; /* 200% */
}
  .custom-toast {
    width: 432px !important;
    height: 88px;
    display: flex;
    padding: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 4px;
    border-bottom: 2px solid #FFBEBE;
    background: #EF4040 !important; 
    color: #FAFAFB !important;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.5px;
  }

  .custom-toast .iziToast-message,
.custom-toast .iziToast-title {
  color: #FAFAFB !important;
}

.custom-toast .iziToast-close {
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" viewBox="0 0 16 16"><path d="M3.404 3.404a1 1 0 011.414 0L8 6.586l3.182-3.182a1 1 0 111.414 1.414L9.414 8l3.182 3.182a1 1 0 01-1.414 1.414L8 9.414l-3.182 3.182a1 1 0 01-1.414-1.414L6.586 8 3.404 4.818a1 1 0 010-1.414z"/></svg>') no-repeat center center !important;
  background-size: 16px 16px;
  width: 16px;
  height: 16px;
}


.loader {
  font-size: 48px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  display: inline-block;
  color: #FF3D00;
  letter-spacing: 2px;
  position: relative;
  box-sizing: border-box;
  left: 50%;
  transform: translate(-50%);
}
.loader::after {
  content: 'Loading';
  position: absolute;
  right: 0;
  top: 0;
  color: #FFF;
  width: 100%;
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;
  animation: animloader 6s linear infinite;
}

@keyframes animloader {
  0% {
    height: 100%;
  }
  100% {
    height: 0%;
  }
}

.is-hidden {
  display: none !important;
}


@import url('https://fonts.googleapis.com/css?family=Poppins:900i');

* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


.loade-container {
display: flex;
justify-content: center;
}

.loade-more {
  display: flex;
  justify-content: center;
  margin-top: 32px;
  
}


.cta {
    display: flex;
    padding: 10px 45px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    color: white;
    background: linear-gradient(90deg, rgb(129, 230, 217) 0%, rgb(79, 209, 197) 100%);
    transition: 1s;
    box-shadow: 6px 6px 0 black;
    transform: skewX(-15deg);
}

.cta:focus {
   outline: none; 
}

.cta:hover {
    transition: 0.5s;
    box-shadow: 10px 10px 0 #FBC638;
}

.cta span:nth-child(1) {
padding: 10px 45px;
}

.cta span:nth-child(2) {
    transition: 0.5s;
    margin-right: 0px;
}

.cta:hover  span:nth-child(2) {
    transition: 0.5s;
    margin-right: 45px;
}

  span {
    transform: skewX(15deg) 
  }

  span:nth-child(2) {
    width: 20px;
    margin-left: 30px;
    position: relative;
    top: 12%;
  }
  
/**************SVG****************/

svg {
  display: flex;
  align-items: center;
}

path.one {
    transition: 0.4s;
    transform: translateX(-60%);
}

path.two {
    transition: 0.5s;
    transform: translateX(-30%);
}



.cta:hover path.three {
    animation: color_anim 1s infinite 0.2s;
}

.cta:hover path.one {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.6s;
}

.cta:hover path.two {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.4s;
}

/* SVG animations */

@keyframes color_anim {
    0% {
        fill: white;
    }
    50% {
        fill: #FBC638;
    }
    100% {
        fill: white;
    }
}

html, body {
  height: 100%;
}

.wrap {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-search {
  min-width: 200px;
  min-height: 40px;
  display: inline-flex;
  font-family: 'Nunito', sans-serif;
  font-size: 22px;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1.3px;
  font-weight: 700;
  color: #313133;
  background: #4FD1C5;
background: linear-gradient(90deg, rgba(129,230,217,1) 0%, rgba(79,209,197,1) 100%);
  border: none;
  border-radius: 1000px;
  box-shadow: 12px 12px 24px rgba(79,209,197,.64);
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
  padding: 10px;
  }

.button-search::before {
content: '';
  border-radius: 1000px;
  min-width: calc(300px + 12px);
  min-height: calc(60px + 12px);
  border: 6px solid #00FFCB;
  box-shadow: 0 0 60px rgba(0,255,203,.64);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all .3s ease-in-out 0s;
}

.button-search:hover, 
.button-search:focus {
  color: #313133;
  transform: translateY(-6px);
}

.button-search:hover::before, 
.button-search:focus::before {
  opacity: 1;
}

.button-search::after {
  content: '';
  width: 30px; height: 30px;
  border-radius: 100%;
  border: 6px solid #00FFCB;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: ring 1.5s infinite;
}

.button-search:hover::after, 
.button-search:focus::after {
  animation: none;
  display: none;
}

@keyframes ring {
  0% {
    width: 30px;
    height: 30px;
    opacity: 1;
  }
  100% {
    width: 300px;
    height: 300px;
    opacity: 0;
  }
}